
.set {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e9e9f0;
    margin: 5px;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: calc(20% - 10px);;
    box-sizing: border-box;
}

img {
    padding: 10px;
}

.name {
    
    overflow: hidden;
    margin-bottom: 10px;
    padding: 0 20px 0 20px;
    font-size: 18px;
}

.attributes {
    
    text-align: left;
    margin-top: 10px;
}

