.cart {
    position: relative;
}

.cart-counter {
    min-width: 24px;
    height: 24px;
    box-sizing: content-box;
    border: 4px solid #E1EEFB;;
    position: absolute;
    right: -16px;
    top: -16px;
    overflow: hidden;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #FFD600;;
}

.cart-counter-text {
    color: #004C93;
}
    