.content {
    background: #F5F5F5;
    width: 100vw;
}

.container {
    width: 1540px;
    margin: 0 auto;
  
 
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}