.footer {
    background: #91c0ef;
    display: flex;
    width: 100vw;
}

.footer-lines {
    padding: 10px;
}

.footer-lines-first {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.footer-lines-first-net {
    width: 150px;
    display: flex;
    justify-content: space-between;
}
span {
    font-weight: bold;
}

.footer-lines-second {
    margin-top: 25px;
    margin-bottom: 25px;
}



.link {
    border-bottom: 1px dashed #542fe8; color: #7b4de8; text-decoration: none;
}